<div>
    <h1>Lista de productos</h1>
    <div>
        {{#each products}}
        <div>
            <h2>{{this.description}}</h2>
            <p>Precio: ${{this.price}}</p>
            <a href="/api/products/{{this._id}}">Ver detalles</a>
        </div>
        {{/each}}
    </div>
</div>
